# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C++ objects
*.obj
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a standalone easy_installer, for example
#  python2.7 -m easy_install -U setuptools
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDEs
.vscode/
.idea/

# Data and Models
*.pkl
*.joblib
*.csv
# Ngoại trừ thư mục data gốc nếu bạn muốn lưu trữ
!data/train.csv
!data/test.csv

# Local environment
.env
.venv
venv/
ENV/
